@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

body {
    background-color: #f8f9fa;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    color: #2d3436;
}

h1 {
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

/* Contenidor per organitzar els elements verticalment */
body > * {
    width: 100%;
    max-width: 300px;
}

label {
    font-size: 0.85rem;
    font-weight: 600;
    margin-bottom: 0.4rem;
    margin-top: 1rem;
    display: block;
    color: #636e72;
}

/* Estil per a inputs i select */
input[type="number"], select {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #dfe6e9;
    border-radius: 8px;
    background-color: white;
    font-family: inherit;
    font-size: 1rem;
    color: #2d3436;
    box-sizing: border-box; /* Garanteix que el padding no afecti l'amplada */
    outline: none;
    transition: border-color 0.3s;
}

input:focus, select:focus {
    border-color: #b2bec3;
}

/* Estil per als botons */
button {
    width: 100%;
    padding: 0.8rem;
    margin-top: 1.5rem;
    border: 1px solid #dfe6e9;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    font-family: inherit;
    font-size: 1rem;
    transition: all 0.3s ease;
}

/* Diferenciació del botó principal (Aplicar) */
#apply {
    background-color: #2d3436;
    color: white;
    border: none;
    margin-top: 0.5rem; /* Reduïm l'espai superior per agrupar-lo amb l'altre botó */
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

#apply:hover {
    background-color: #000;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

#default:hover {
    background-color: #f1f2f6;
}